.About-root {
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.About-root .Headline-container {
  width: 55%;
  margin: 2rem 0;
  display: flex;
  padding: 1rem 3rem 1rem 1rem;
  border-right: 2px solid var(--secondary-bg-color-darker);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.About-root .Description-container {
  width: 45%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem 1rem 3rem;
}

.About-root .Title-container .Title {
  font-weight: 600;
  text-align: center;
  font-size: 2.5rem;
}

.About-root .Imagery-container {
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 2rem;
}

.About-root .Imagery-container .QR-container,
.About-root .Imagery-container .Emoji-container,
.About-root .Imagery-container .Network-container {
  width: 33%;
}

.About-root .Imagery-container .QR-container .QR-image,
.About-root .Imagery-container .Emoji-container .Emoji,
.About-root .Imagery-container .Network-container .Network-image {
  width: 100%;
}

.About-root .Imagery-container .Emoji-container .Emoji {
  font-size: 11vw;
  position: relative;
  left: 20px;
}

.About-root .Description-container .Description-header {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.75rem;
}

.About-root .Headline-container .Headline-pad {
  padding: 2rem;
  border: solid 1px #b59fdc;
  background-color: #b59fdc;
  border-radius: 25px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 
    0px 4px 5px 0px rgb(0 0 0 / 14%), 
    0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.About-root .Description-container .Description-pad {
  padding: 2rem;
  border: solid 1px gainsboro;
  background-color: gainsboro;
  border-radius: 25px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 
    0px 4px 5px 0px rgb(0 0 0 / 14%), 
    0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.About-root .Description-container .List-item {
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

@media (min-width: 600px) {
  .About-root {
    height: calc(100vh - 64px - 45px);
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .About-root {
    height: auto;
    flex-direction: column;
  }

  .About-root .Headline-container {
    width: 100%;
    border-bottom: 2px solid var(--secondary-bg-color-darker);
    border-right: none;
    margin: 0 auto;
    padding: 2rem 0;
  }

  .About-root .Description-container {
    width: 100%;
    border-right: none;
    margin: 0 auto;
    padding: 2rem 0;
  }

  .About-root .Imagery-container .Emoji-container .Emoji {
    font-size: 22vw;
    left: 10px
  }
}

@media (max-width: 500px) {
  .About-root .Imagery-container .Emoji-container .Emoji {
      font-size: 22vw;
      left: 3px;
  }
}