.Qr-root {
  height: calc(100vh - 56px - 45px);
  display: flex;
  width: 95%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.Qr-root .Qr-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Qr-root .Qr-view .Qr-pad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 92%;
  max-width: 500px;
  padding: 2rem 1rem 1rem;
  background-color: gainsboro;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.Qr-root .Qr-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.Qr-root .Qr-container .Qr-code {
  margin-bottom: 1rem;
  width: 80%;
}

.Qr-root .Input-container,
.Qr-root .Input-container .Input {
  width: 100%;
}

.Qr-root .Input-container {
  background-color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.Qr-root .MuiInputBase-root, 
.Qr-root .MuiFormControl-root {
  border-color: var(--secondary-bg-color-darker);
}
.Qr-root .MuiInputBase-root:focus,
.Qr-root .MuiFormControl-root:focus {
  outline: var(--secondary-bg-color-darker) auto 1px !important;
}

@media (min-width: 600px) {
  .Qr-root {
    height: calc(100vh - 64px - 45px) !important;
  }
}